Source: libparse-hp-acu-perl
Section: perl
Priority: optional
Maintainer: Peter Záhradník <peter.zahradnik@znik.sk>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Parse-HP-ACU

Package: libparse-hp-acu-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: parse the output of HP's hpacucli utility
 Parses the output of HP's hpacucli utility to allow programmatic access to the RAID 
 configuration information provided by the hpacucli utility on HP ProLiant servers.
