Package: libparse-hp-acu-perl
Version: 0.03-1
Architecture: all
Maintainer: Peter Záhradník <peter.zahradnik@znik.sk>
Installed-Size: 59
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Parse-HP-ACU
Description: parse the output of HP's hpacucli utility
 Parses the output of HP's hpacucli utility to allow programmatic access to the RAID
 configuration information provided by the hpacucli utility on HP ProLiant servers.
